@charset 'UTF-8';
/* util */
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .sp
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .sp
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .tb
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .tb
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .pc
    {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .pc
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .st
    {
        display: none !important;
    }
}

@media screen and (max-width: 425px)
{
    .tp
    {
        display: none !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

/* /util */
/* base */
html
{
    font-size: 10px;
}

::-moz-selection
{
    color: #fff; 
    background: #323cfb;
}

::selection
{
    color: #fff; 
    background: #323cfb;
}

::-moz-selection
{
    color: #fff; 
    background: #323cfb;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #000; 

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

a
{
    font-size: inherit;

    display: block;

    cursor: pointer; 

    color: inherit;
}

img
{
    width: 100%; 

    pointer-events: none;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p
{
    font-size: 10px;
    line-height: 1;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /base */
/* skin */
/* /skin */
/* layou */
/* /layou */
/* unique */
#header
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%; 

    background-color: rgba(255, 255, 255, .8);
}
#header .l_inner
{
    line-height: 1; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
@media screen and (max-width: 768px)
{
    #header .l_inner
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner
    {
        width: 960px; 
        margin: 0 auto;

        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px)
{
    #header .l_inner h1
    {
        width: 45%; 
        padding: 6%;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner h1
    {
        width: 131px; 
        margin-right: auto;
    }
}
@media screen and (max-width: 768px)
{
    #header .l_inner ul
    {
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%; 

        background-color: #aaa;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner ul
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 464px;
        margin-right: 28px; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px)
{
    #header .l_inner ul li
    {
        margin: 0 4.7%;
    }
    #header .l_inner ul li:nth-child(n+2)
    {
        border-top: 1px solid #fff;
    }
}
#header .l_inner ul li a
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
}
@media screen and (max-width: 768px)
{
    #header .l_inner ul li a
    {
        padding: 2.4em 0;

        text-align: center;

        color: #fff;
        background: url(../images/arrow.png) no-repeat right center/4vw auto;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #header .l_inner ul li a
    {
        font-size: 3.75vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #header .l_inner ul li a
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #header .l_inner ul li a
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner ul li a
    {
        font-size: 13px;

        padding: 1em 0;

        -webkit-transition: .24s all ease;
                transition: .24s all ease;
    }
    #header .l_inner ul li a:hover
    {
        font-weight: bold;

        color: #000bc9;
    }
}
@media screen and (max-width: 768px)
{
    #header .l_inner .facebook
    {
        display: none;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner .facebook
    {
        margin-right: 28px;
    }
}
@media screen and (max-width: 768px)
{
    #header .l_inner .form
    {
        width: 36%;
    }
}
#header .l_inner .form a
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    color: #fff;
    background-color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #header .l_inner .form a
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        height: 100%;

        text-align: center; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #header .l_inner .form a
    {
        font-size: 3.75vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #header .l_inner .form a
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #header .l_inner .form a
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner .form a
    {
        font-size: 13px;

        padding: 20px 28px;

        -webkit-transition: .24s all ease;
                transition: .24s all ease;
    }
    #header .l_inner .form a:hover
    {
        background-color: #323cfb;
    }
}
#header .l_inner .form a img
{
    display: inline-block;

    vertical-align: middle;
}
@media screen and (max-width: 768px)
{
    #header .l_inner .form a img
    {
        width: 2.6vw;
        margin-right: 1.6vw;
    }
}
@media screen and (min-width: 769px)
{
    #header .l_inner .form a img
    {
        width: 10px; 
        margin-right: 6px;
    }
}
#header .l_inner .menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 19%;

    cursor: pointer;
    pointer-events: all; 

    background-color: #000;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#header .l_inner .menu > div
{
    width: 6.25vw;
    height: 1px;

    background-color: #fff;
}
#header .l_inner .menu > div:nth-child(n+2)
{
    margin-top: 10%;
}

@media screen and (max-width: 768px)
{
    #main
    {
        padding-top: 18.8vw;
    }
}

@media screen and (min-width: 769px)
{
    #main
    {
        padding-top: 54px;
    }
}

#main .hero
{
    width: 100%;
}
@media screen and (max-width: 768px)
{
    #main .hero
    {
        background-color: #f1f1f1;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero
    {
        height: 520px;
    }
}
#main .hero .l_inner
{
    position: relative;

    margin: 0 auto;
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner
    {
        width: 960px;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner figure
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -284px;

        width: 1800px;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .facebook
    {
        display: none;
    }
}
@media screen and (max-width: 425px)
{
    #main .hero .l_inner .facebook
    {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 4.7%;

        width: 6%;
        margin-top: 52%;

        background-color: #fff;
    }
}
#main .hero .l_inner .text
{
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 768px)
{
    #main .hero .l_inner .text
    {
        padding: 7.8% 0 13%;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .text
    {
        padding-top: 68px;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .text h1
    {
        width: 445px;
    }
}
#main .hero .l_inner .text h2
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    position: relative;
}
@media screen and (max-width: 768px)
{
    #main .hero .l_inner .text h2
    {
        margin-top: 5.4%;

        text-align: center;
        letter-spacing: -.08em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .hero .l_inner .text h2
    {
        font-size: 4.6875vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .hero .l_inner .text h2
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .hero .l_inner .text h2
    {
        font-size: 30px;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .text h2
    {
        font-size: 22px; 

        margin-top: 38px;
    }
}
#main .hero .l_inner .text h2:after
{
    position: absolute;

    display: block;

    content: '';

    background-color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .hero .l_inner .text h2:after
    {
        bottom: 0;
        left: 0;

        width: 95%;
        height: 1px;
        margin-bottom: -2%;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .text h2:after
    {
        bottom: -8px;
        left: -1534px;

        width: 2000px;
        height: 1px;
    }
}
#main .hero .l_inner .text p
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    line-height: 1.8;
}
@media screen and (max-width: 768px)
{
    #main .hero .l_inner .text p
    {
        margin-top: 5%;
        padding: 0 4.7%;

        letter-spacing: -.06em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .hero .l_inner .text p
    {
        font-size: 3.125vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .hero .l_inner .text p
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .hero .l_inner .text p
    {
        font-size: 20px;
    }
}
@media screen and (min-width: 769px)
{
    #main .hero .l_inner .text p
    {
        font-size: 15px; 

        margin-top: 20px;
    }
}

#main .message
{
    text-align: center;
}
@media screen and (min-width: 769px)
{
    #main .message
    {
        min-width: 960px;
    }
}
#main .message .l_block_01
{
    background: url(../images/message_block_01_bg.png) no-repeat center center;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01
    {
        padding: 10.6% 4.7%; 

        background-size: cover;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01
    {
        height: 448px; 
        padding-top: 56px;
    }
}
#main .message .l_block_01 .h3_01
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    display: inline-block;

    padding-bottom: .2em;

    letter-spacing: .025em; 

    color: #000bc9;
    border-bottom: 1px solid #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_01 .h3_01
    {
        font-size: 7.8125vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_01 .h3_01
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_01 .h3_01
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01 .h3_01
    {
        font-size: 38px;
    }
}
#main .message .l_block_01 .p_01,
#main .message .l_block_01 .p_02
{
    line-height: 1.8;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01 .p_01,
    #main .message .l_block_01 .p_02
    {
        text-align: left;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_01 .p_01,
    #main .message .l_block_01 .p_02
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_01 .p_01,
    #main .message .l_block_01 .p_02
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_01 .p_01,
    #main .message .l_block_01 .p_02
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01 .p_01 br,
    #main .message .l_block_01 .p_02 br
    {
        display: none;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01 .p_01,
    #main .message .l_block_01 .p_02
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01 .p_01
    {
        margin-top: 6.25%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01 .p_01
    {
        margin-top: 24px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01 .p_02
    {
        margin-top: 8.75%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01 .p_02
    {
        margin-top: 34px;
    }
}
#main .message .l_block_01 .div_01
{
    line-height: 1;

    display: inline-block;

    color: #000bc9; 
    border: 1px solid #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_01 .div_01
    {
        width: 100%; 
        margin-top: 5.9%;
        padding: 1em 0;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_01 .div_01
    {
        font-size: 3.75vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_01 .div_01
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_01 .div_01
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_01 .div_01
    {
        font-size: 14px;

        width: 250px;
        margin-top: 22px;
        padding: .6em 0;

        -webkit-transition: .24s all ease;
                transition: .24s all ease;
    }
    #main .message .l_block_01 .div_01:hover
    {
        color: #fff; 
        background-color: #000bc9;
    }
}
#main .message .l_block_02
{
    background: url(../images/message_block_02_bg.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_02
    {
        padding: 0 4.7% 10.9%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_02
    {
        height: 338px;
    }
}
#main .message .l_block_02 p
{
    line-height: 1.8; 

    color: #fff;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_02 p
    {
        text-align: justify;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_02 p
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_02 p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_02 p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_02 p br
    {
        font-weight: normal;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_02 p
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_02 .p_03
    {
        padding-top: 12%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_02 .p_03
    {
        padding-top: 86px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_02 .p_04
    {
        padding-top: 5.4%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_02 .p_04
    {
        padding-top: 36px;
    }
}
#main .message .l_block_03
{
    background-color: #e5ebef;
}
@media screen and (max-width: 425px)
{
    #main .message .l_block_03
    {
        padding-top: 11%;
    }
}
#main .message .l_block_03 .l_inner
{
    margin: 0 auto;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner
    {
        padding: 0 4.7% 10%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_03 .l_inner
    {
        width: 960px;
        height: 360px;

        background: url(../images/message_block_03_bg.png) no-repeat right center;
    }
}
#main .message .l_block_03 .l_inner p
{
    line-height: 1.7; 

    text-align: left;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner p
    {
        text-align: justify;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_03 .l_inner p
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_03 .l_inner p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner p br
    {
        display: none;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_03 .l_inner p
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner .p_05
    {
        padding-top: 5.4%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_03 .l_inner .p_05
    {
        padding-top: 70px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_03 .l_inner .p_06
    {
        padding-top: 8%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_03 .l_inner .p_06
    {
        padding-top: 36px;
    }
}
#main .message .l_block_04
{
    background: #000 url(../images/message_block_04_bg.jpg) no-repeat center center;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04
    {
        background-position: right top; 
        background-size: 184%;
    }
}
#main .message .l_block_04 .l_inner
{
    position: relative;

    margin: 0 auto;

    text-align: left;

    color: #fff;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner
    {
        padding: 50% 4.7% 12%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner
    {
        width: 960px;
        height: 400px;
    }
}
#main .message .l_block_04 .l_inner p
{
    line-height: 1.7; 

    text-align: left;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner p
    {
        text-align: justify;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_04 .l_inner p
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner p br
    {
        display: none;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner p
    {
        font-size: 16px;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .p_07
    {
        padding-top: 58px;
    }
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .p_08
    {
        padding-top: 7.8%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .p_08
    {
        padding-top: 36px;
    }
}
#main .message .l_block_04 .l_inner .div_02
{
    display: inline-block;

    text-align: center; 

    border: 1px solid #fff;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .div_02
    {
        width: 100%; 
        margin-top: 9%;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .div_02
    {
        width: 264px; 
        margin-top: 24px;
    }
}
#main .message .l_block_04 .l_inner .div_02 a
{
    line-height: 1;

    padding: .6em 0;

    -webkit-transition: .24s all ease;
            transition: .24s all ease;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_04 .l_inner .div_02 a
    {
        font-size: 3.75vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .div_02 a
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .div_02 a
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .div_02 a
    {
        font-size: 14px;
    }
}
#main .message .l_block_04 .l_inner .div_02 a:hover
{
    color: #000; 
    background-color: #fff;
}
#main .message .l_block_04 .l_inner .dl
{
    line-height: 1;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .dl
    {
        margin-top: 1em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .message .l_block_04 .l_inner .dl
    {
        font-size: 2.8125vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .dl
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .dl
    {
        font-size: 18px;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .dl
    {
        font-size: 12px; 

        position: absolute;
        top: 285px;
        left: 280px;
    }
}
#main .message .l_block_04 .l_inner .dl img
{
    display: inline-block;

    vertical-align: middle;
}
@media screen and (max-width: 768px)
{
    #main .message .l_block_04 .l_inner .dl img
    {
        width: 1.2em; 
        margin: 0 1em 0 0;
    }
}
@media screen and (min-width: 769px)
{
    #main .message .l_block_04 .l_inner .dl img
    {
        width: 20px; 
        margin-right: 14px;
    }
}

#main .profile
{
    margin: 0 auto;
}
@media screen and (max-width: 768px)
{
    #main .profile
    {
        padding: 6.25% 4.7% 10%;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 960px; 
        padding: 100px 0 94px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_01
    {
        width: 264px;
    }
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_01 figure
    {
        width: 42vw; 
        margin: 0 auto;
    }
}
#main .profile .l_box_01 .dl
{
    font-size: 12px;
    line-height: 1; 

    margin-top: 55px;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_01 .dl
    {
        display: none;
    }
}
#main .profile .l_box_01 .dl img
{
    display: inline-block;

    width: 20px; 
    margin-right: 14px;

    vertical-align: bottom;
}
#main .profile .l_box_01 .div_01
{
    display: inline-block;

    width: 100%; 
    margin-top: 12px;

    text-align: center;

    border: 1px solid #000;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_01 .div_01
    {
        display: none;
    }
}
#main .profile .l_box_01 .div_01 a
{
    font-size: 14px;
    line-height: 1;

    padding: .6em 0;

    -webkit-transition: .24s all ease;
            transition: .24s all ease;
}
#main .profile .l_box_01 .div_01 a:hover
{
    color: #fff; 
    background-color: #000;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02
    {
        margin-top: 6.25%;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02
    {
        width: 628px;
    }
}
#main .profile .l_box_02 .h3_01
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    position: relative;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .profile .l_box_02 .h3_01
    {
        font-size: 6.25vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .h3_01
    {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01
    {
        font-size: 40px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01
    {
        font-size: 34px;
    }
}
#main .profile .l_box_02 .h3_01:after
{
    position: absolute;

    display: block;

    content: '';

    background-color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02 .h3_01:after
    {
        right: -4.7vw;
        bottom: 0;

        width: 95vw;
        height: 1px; 
        margin-bottom: -2.4%;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01:after
    {
        right: -1374px;
        bottom: -8px;

        width: 2000px;
        height: 1px;
    }
}
#main .profile .l_box_02 .h3_01 i
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    vertical-align: baseline;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02 .h3_01 i
    {
        margin-left: .6em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .profile .l_box_02 .h3_01 i
    {
        font-size: 4.0625vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .h3_01 i
    {
        font-size: 26px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01 i
    {
        font-size: 26px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01 i
    {
        font-size: 20px; 

        margin-left: 22px;
    }
}
#main .profile .l_box_02 .h3_01 em
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    position: absolute;
    right: 0;
    bottom: 0;

    color: #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .profile .l_box_02 .h3_01 em
    {
        font-size: 7.8125vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .h3_01 em
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01 em
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .h3_01 em
    {
        font-size: 38px;
    }
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02 .ul_01
    {
        margin-top: 6.5%;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .ul_01
    {
        margin-top: 40px;
    }
}
#main .profile .l_box_02 .ul_01 li
{
    font-size: 14px;
    line-height: 1.8;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02 .ul_01 li
    {
        margin-left: 1em; 

        text-indent: -1em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .profile .l_box_02 .ul_01 li
    {
        font-size: 3.125vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .ul_01 li
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .profile .l_box_02 .ul_01 li
    {
        font-size: 20px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .ul_01 li
    {
        font-size: 14px;
    }
}
#main .profile .l_box_02 .ul_01 li:before
{
    content: '・';
}
#main .profile .l_box_02 .p_01
{
    font-size: 12px;
    line-height: 2;

    margin-top: 46px;

    text-align: justify;
}
@media screen and (max-width: 768px)
{
    #main .profile .l_box_02 .p_01
    {
        display: none;
    }
}
#main .profile .l_box_02 .div_01
{
    margin-top: 6%;
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .div_01
    {
        display: none;
    }
}
#main .profile .l_box_02 .div_01 a
{
    line-height: 1;

    padding: 1em 0; 

    text-align: center;

    border: 1px solid #000;
}
@media screen and (max-width: 425px)
{
    #main .profile .l_box_02 .div_01 a
    {
        font-size: 3.4375vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .div_01 a
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .div_01 a
    {
        font-size: 22px;
    }
}
#main .profile .l_box_02 .dl
{
    line-height: 1; 

    margin-top: 4%;
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .dl
    {
        display: none;
    }
}
@media screen and (max-width: 425px)
{
    #main .profile .l_box_02 .dl
    {
        font-size: 2.8125vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #main .profile .l_box_02 .dl
    {
        font-size: 18px;
    }
}
@media screen and (min-width: 769px)
{
    #main .profile .l_box_02 .dl
    {
        font-size: 18px;
    }
}
#main .profile .l_box_02 .dl img
{
    width: 1em; 
    margin-right: .6em;
}

#main .information
{
    text-align: center;

    background-color: #f5f5f5;
}
@media screen and (max-width: 768px)
{
    #main .information
    {
        padding: 10% 0;
    }
}
@media screen and (min-width: 769px)
{
    #main .information
    {
        padding: 80px 0;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner
    {
        width: 960px; 
        margin: 0 auto;
    }
}
#main .information .l_inner .h3_01
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    display: inline-block;

    padding-bottom: .2em;

    letter-spacing: .025em; 

    color: #000bc9;
    border-bottom: 1px solid #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .information .l_inner .h3_01
    {
        font-size: 7.8125vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .information .l_inner .h3_01
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .information .l_inner .h3_01
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .h3_01
    {
        font-size: 38px;
    }
}
#main .information .l_inner .dl_01
{
    font-size: 0; 

    position: relative;

    text-align: left;
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01
    {
        margin-top: 9.4%;
        padding: 0 4.7%;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01
    {
        margin-top: 40px;
    }
}
#main .information .l_inner .dl_01 dt
{
    line-height: 1.7; 

    display: inline-block;

    vertical-align: top;

    color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dt
    {
        width: 5em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .information .l_inner .dl_01 dt
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dt
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dt
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dt
    {
        font-size: 14px; 

        width: 85px;
    }
}
#main .information .l_inner .dl_01 dd
{
    line-height: 1.7; 

    display: inline-block;

    vertical-align: top;
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dd
    {
        width: calc(100% - 5em);
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .information .l_inner .dl_01 dd
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dd
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dd
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dd
    {
        font-size: 14px; 

        width: calc(100% - 85px);
    }
}
#main .information .l_inner .dl_01 dd em
{
    margin-right: .5em; 

    color: #000bc9;
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dd #map
    {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dd #map
    {
        position: relative;

        width: 100vw;
        margin: 3.6% 0 3.6% -30%;
        padding-bottom: 80%;
    }
    #main .information .l_inner .dl_01 dd #map iframe
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}
#main .information .l_inner .dl_01 dd.indent span
{
    display: block;
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dd.indent span
    {
        margin-left: 1em; 

        text-indent: -1em;
    }
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 dd.pc
    {
        display: none !important;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01 dd.st
    {
        display: none !important;
    }
}
#main .information .l_inner .dl_01 dd.st span
{
    display: block;
}
@media screen and (max-width: 768px)
{
    #main .information .l_inner .dl_01 > *:nth-child(n+3)
    {
        margin-top: 2em;
    }
}
@media screen and (min-width: 769px)
{
    #main .information .l_inner .dl_01 > *:nth-child(n+3)
    {
        margin-top: 40px;
    }
}

#main .schedule
{
    margin: 0 auto; 

    text-align: center;
}
@media screen and (max-width: 768px)
{
    #main .schedule
    {
        padding: 12% 0 2.4%;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule
    {
        width: 960px; 
        padding: 92px 0 84px;
    }
}
#main .schedule .h3_01
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    display: inline-block;

    padding-bottom: .2em;

    letter-spacing: .025em; 

    color: #000bc9;
    border-bottom: 1px solid #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .h3_01
    {
        font-size: 7.8125vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .h3_01
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .h3_01
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .h3_01
    {
        font-size: 38px;
    }
}
#main .schedule #scheduleSlider
{
    position: relative;

    overflow: hidden;
}
@media screen and (max-width: 768px)
{
    #main .schedule #scheduleSlider
    {
        margin-top: 5.3%;
        padding-bottom: 10%;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider
    {
        margin-top: 52px;
    }
}
#main .schedule #scheduleSlider .bx-controls-direction a
{
    position: absolute;
    top: 100px;

    width: 26px;
    height: 26px;

    border-top: 1px solid #737b7b;
    border-right: 1px solid #737b7b;
}
#main .schedule #scheduleSlider .bx-controls-direction a.bx-prev
{
    left: 10px;

    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}
#main .schedule #scheduleSlider .bx-controls-direction a.bx-next
{
    right: 10px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
#main .schedule #scheduleSlider .bx-wrapper
{
    width: 304px; 
    margin: 0 auto;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport
{
    overflow: visible !important;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li
{
    padding: 0 26px;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li img
{
    width: auto;
}
@media screen and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li img
    {
        width: 80%;
    }
}
@media screen and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box:nth-child(2)
    {
        margin-top: 6%;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box:nth-child(2)
    {
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box:nth-child(3)
    {
        margin-top: 6%;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box:nth-child(3)
    {
        margin-top: 36px;
    }
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4
{
    width: 251px; 

    background-color: #d7d9d9;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4.active
{
    color: #fff; 
    background-color: #000bc9;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div
{
    display: inline-block;

    padding: .5em 0;

    text-align: center;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div:nth-child(1)
{
    width: 40%;

    border-right: 1px solid #fff;
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div:nth-child(2)
{
    width: 60%;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div
    {
        font-size: 3.4375vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div
    {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h4 div
    {
        font-size: 14px;
    }
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h5
{
    font-size: 15px;
    line-height: 1.4; 

    margin-top: .4em;

    text-align: left;

    color: #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h5
    {
        font-size: 3.75vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h5
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h5
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box h5
    {
        font-size: 15px;
    }
}
#main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box p
{
    line-height: 1.4;

    margin-top: .4em;

    text-align: left; 
    letter-spacing: -.06em;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box p
    {
        font-size: 3.4375vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box p
    {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box p
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule #scheduleSlider .bx-wrapper .bx-viewport li .box p
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next
    {
        margin-top: 50px;
        padding: 0 50px;
    }
}
#main .schedule .next .l_inner
{
    background-color: #f5f5f5;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner
    {
        padding: 11.8% 0;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner
    {
        width: 860px; 
        padding: 38px 0 50px;
    }
}
#main .schedule .next .l_inner .ttl > div
{
    display: inline-block;

    border: 1px solid #000bc9;
}
#main .schedule .next .l_inner .ttl > div > div
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    line-height: 1;

    display: inline-block;

    padding: .4em .8em;

    letter-spacing: .06rem;

    color: #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .ttl > div > div
    {
        font-size: 4.0625vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .ttl > div > div
    {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .ttl > div > div
    {
        font-size: 26px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .ttl > div > div
    {
        font-size: 16px;
    }
}
#main .schedule .next .l_inner .ttl > div > div:nth-child(1)
{
    color: #fff; 
    background-color: #000bc9;
}
#main .schedule .next .l_inner .ttl > div > div:nth-child(3)
{
    border-left: 1px solid #000bc9;
}
#main .schedule .next .l_inner .ttl p
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    width: 100%;

    color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .ttl p
    {
        margin-top: 4.8%;

        letter-spacing: .06rem;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .ttl p
    {
        font-size: 5.9375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .ttl p
    {
        font-size: 38px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .ttl p
    {
        font-size: 38px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .ttl p
    {
        font-size: 32px; 

        margin-top: 20px;

        letter-spacing: .2rem;
    }
}
#main .schedule .next .l_inner .con
{
    text-align: left; 

    background: #fff url(../images/scheduleSlider_next_bg.png) no-repeat center center;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .con
    {
        margin: 6% auto;
        padding: 0 4.7%;

        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
        background: #fff url(../images/scheduleSlider_next_bg.png) repeat-y center center;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .con
    {
        width: 742px;
        height: 380px; 
        margin: 26px auto 0;
        padding: 0 90px;
    }
}
#main .schedule .next .l_inner .con h4
{
    font-weight: bold;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .con h4
    {
        padding-top: 12%;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .con h4
    {
        font-size: 3.75vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .con h4
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .con h4
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .con h4
    {
        font-size: 16px; 

        padding-top: 50px;
    }
}
#main .schedule .next .l_inner .con ul
{
    margin-top: 24px;
}
#main .schedule .next .l_inner .con ul li
{
    font-size: 14px;
    line-height: 2;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .con ul li
    {
        margin-left: 1em; 

        text-indent: -1em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .con ul li
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .con ul li
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .con ul li
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .con ul li
    {
        font-size: 14px;
    }
}
#main .schedule .next .l_inner .con p
{
    line-height: 1.7; 

    margin-top: 1.2em;
    padding-top: 1.2em;

    border-top: 1px solid #000;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .con p
    {
        padding-bottom: 1.2em;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .con p
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .con p
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .con p
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .con p
    {
        font-size: 14px;
    }
}
#main .schedule .next .l_inner .deadline
{
    font-weight: bold; 
    line-height: 1;
}
@media screen and (max-width: 768px)
{
    #main .schedule .next .l_inner .deadline
    {
        margin-top: 8%;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .deadline
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .deadline
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .deadline
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .deadline
    {
        font-size: 16px; 

        margin-top: 30px;
    }
}
#main .schedule .next .l_inner .deadline strong
{
    font-size: 18px;
    font-weight: bold;

    margin-left: 1em;
    padding-bottom: .2em;

    color: #000bc9; 
    border-bottom: 1px solid #000bc9;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .schedule .next .l_inner .deadline strong
    {
        font-size: 4.375vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .schedule .next .l_inner .deadline strong
    {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .schedule .next .l_inner .deadline strong
    {
        font-size: 28px;
    }
}
@media screen and (min-width: 769px)
{
    #main .schedule .next .l_inner .deadline strong
    {
        font-size: 18px;
    }
}

#main .form
{
    display: block; 

    width: 100%;

    background-color: #eff0f0;
}
@media screen and (min-width: 769px)
{
    #main .form .iframe
    {
        width: 960px; 
        margin: 0 auto;
        padding: 60px 0;
    }
}
#main .form .iframe iframe
{
    height: 80vh;
}

#main .contact
{
    position: relative;

    margin: 0 auto;
}
@media screen and (min-width: 769px)
{
    #main .contact
    {
        width: 960px; 
        padding: 64px 0 60px;
    }
}
@media screen and (max-width: 768px)
{
    #main .contact
    {
        padding: 0 4.7%;

        text-align: center;
    }
}
#main .contact .h3_01
{
    font-family: 'arno-pro', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    position: relative;

    color: #000bc9;
}
@media screen and (max-width: 768px)
{
    #main .contact .h3_01
    {
        display: inline-block;

        margin-top: 14%;
        padding-bottom: 1%;

        border-bottom: 1px solid #000bc9;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .contact .h3_01
    {
        font-size: 7.8125vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .contact .h3_01
    {
        font-size: 50px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .contact .h3_01
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .h3_01
    {
        font-size: 38px;
    }
    #main .contact .h3_01:after
    {
        position: absolute;
        bottom: -8px;
        left: -1570px;

        display: block;

        width: 2000px;
        height: 1px;

        content: '';

        background-color: #000bc9;
    }
}
#main .contact .h3_01 i
{
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 14px;

    margin-left: 20px;

    letter-spacing: -.04em; 

    color: #000;
}
@media screen and (max-width: 425px)
{
    #main .contact .h3_01 i
    {
        display: none;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .p_01
    {
        display: none;
    }
}
@media screen and (max-width: 768px)
{
    #main .contact .p_01
    {
        margin-top: 6%;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .contact .p_01
    {
        font-size: 3.4375vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .contact .p_01
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .contact .p_01
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px)
{
    #main .contact .ul_01
    {
        margin-top: 11%;

        text-align: left;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .ul_01
    {
        margin-top: 52px;
    }
}
#main .contact .ul_01 li
{
    line-height: 1.8;
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .contact .ul_01 li
    {
        font-size: 3.4375vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .contact .ul_01 li
    {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .contact .ul_01 li
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .ul_01 li
    {
        font-size: 14px;
    }
}
#main .contact .ul_01 li a
{
    display: inline-block; 

    margin-left: 1em;
}
#main .contact .ul_01 li a img
{
    width: auto;
}
#main .contact .div_01
{
    line-height: 1;
}
@media screen and (max-width: 768px)
{
    #main .contact .div_01
    {
        margin-top: 5%;
    }
}
@media screen and (max-width: 768px) and (max-width: 425px)
{
    #main .contact .div_01
    {
        font-size: 3.75vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #main .contact .div_01
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 769px)
{
    #main .contact .div_01
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .div_01
    {
        font-size: 15px;

        width: 330px; 
        margin-top: 24px;
    }
}
#main .contact .div_01 a
{
    font-family: 'a-otf-ryumin-pr6n', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

    padding: .6em 0;

    -webkit-transition: .24s all ease;
            transition: .24s all ease; 
    text-align: center;

    border: 1px solid #848b8b;
}
#main .contact .div_01 a:hover
{
    background-color: #eee;
}
#main .contact .div_01 a img
{
    display: inline-block;

    width: auto;
    margin-right: 10px; 

    vertical-align: middle;
}
@media screen and (max-width: 768px)
{
    #main .contact .facebook
    {
        margin: 10% 0;
    }
}
@media screen and (min-width: 769px)
{
    #main .contact .facebook
    {
        position: absolute;
        top: 60px;
        right: 0;

        width: 290px;
    }
}

#pagetop
{
    position: fixed;
    z-index: 11;
    right: 6%;
    bottom: 12%;

    -webkit-transition: .24s all ease;
            transition: .24s all ease; 

    background-color: rgba(255, 255, 255, .6);
}
#pagetop:hover
{
    opacity: .6;
}
@media screen and (max-width: 768px)
{
    #pagetop
    {
        display: none;
    }
}

#footer
{
    line-height: 1; 

    text-align: center;

    background-color: #eff0f0;
}
@media screen and (max-width: 768px)
{
    #footer
    {
        padding: 4.8% 0 3.6%;
    }
}
@media screen and (min-width: 769px)
{
    #footer
    {
        min-width: 960px; 
        padding: 16px 0 12px;
    }
}

@media screen and (max-width: 768px) and (max-width: 425px)
{
    #footer p small
    {
        font-size: 2.8125vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (max-width: 768px)
{
    #footer p small
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) and (min-width: 769px)
{
    #footer p small
    {
        font-size: 18px;
    }
}
@media screen and (min-width: 769px)
{
    #footer p small
    {
        font-size: 12px;
    }
}

/* /unique */
/* animation */
@media screen and (max-width: 768px)
{
    #header ul
    {
        -webkit-transition: all .24s ease;
                transition: all .24s ease;
        pointer-events: none; 

        opacity: 0;
    }
}

#header .menu > div
{
    -webkit-transition: .24s all ease;
            transition: .24s all ease;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
}

@media screen and (max-width: 768px)
{
    #header.menuopen ul
    {
        pointer-events: all; 

        opacity: 1;
    }
}

#header.menuopen .menu > div:nth-child(1)
{
    margin-left: 4%; 

    -webkit-transform: rotate(41deg);
        -ms-transform: rotate(41deg);
            transform: rotate(41deg);
}

#header.menuopen .menu > div:nth-child(2)
{
    opacity: 0;
}

#header.menuopen .menu > div:nth-child(3)
{
    margin-left: 4%; 

    -webkit-transform: rotate(-41deg);
        -ms-transform: rotate(-41deg);
            transform: rotate(-41deg);
}

/* /animation */
