#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    .l_inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        line-height: 1;
        @include mq(pc) {
            margin: 0 auto;
            width: 960px;
        }
        h1 {
            @include mq(pc) {
                margin-right: auto;
                width: 131px;
            }
        }
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 464px;
            @include mq(pc) {
                margin-right: 28px;
            }
            li {
                a {
                    font-family: $f-ryumin;
                    @include mq(pc) {
                        font-size: 13px;
                    }
                }
            }
        }
        .form {
            a {
                background-color: $c-blue;
                font-size: 13px;
                color: $c-white;
                @include mq(pc) {
                    padding: 20px 28px;
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 6px;
                    width: 10px;
                }
            }
        }
    }
}

#main {
    padding-top: 54px;
    .hero {
        width: 100%;
        @include mq(pc) {
            height: 520px;
        }
        .l_inner {
            position: relative;
            margin: 0 auto;
            width: 960px;
            figure {
                @include mq(pc) {
                    position: absolute;
                    top: 0;
                    left: -284px;
                    z-index: 1;
                    width: 1800px;
                }
            }
            .text {
                position: relative;
                z-index: 2;
                padding-top: 68px;
                h1 {
                    width: 445px;
                }
                h2 {
                    position: relative;
                    margin-top: 38px;
                    font-size: 22px;
                    font-family: $f-ryumin;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: -8px;
                        left: -1534px;
                        width: 2000px;
                        height: 1px;
                        background-color: $c-blue;
                    }
                }
                p {
                    margin-top: 20px;
                    font-size: 15px;
                    font-family: $f-ryumin;
                    line-height: 1.8;
                }
            }
        }
    }
    .message {
        min-width: 960px;
        text-align: center;
        .l_block_01 {
            background: url(../images/message_block_01_bg.png) no-repeat center center;
            @include mq(pc) {
                padding-top: 56px;
                height: 448px;
            }
            .h3_01 {
                display: inline-block;
                padding-bottom: .2em;
                border-bottom: 1px solid $c-blue;
                font-family: $f-arno;
                font-size: 38px;
                color: $c-blue;
                letter-spacing: .025em;
            }
            .p_01,
            .p_02 {
                font-size: 16px;
                line-height: 1.8;
            }
            .p_01 {
                margin-top: 24px;
            }
            .p_02 {
                margin-top: 34px;
            }
            .div_01 {
                display: inline-block;
                border: 1px solid $c-blue;
                margin-top: 22px;
                padding: .6em 0;
                width: 250px;
                font-size: 14px;
                line-height: 1;
                color: $c-blue;
            }
        }
        .l_block_02 {
            height: 338px;
            background: url(../images/message_block_02_bg.jpg) no-repeat center center;
            p {
                font-size: 16px;
                color: $c-white;
                line-height: 1.8;
            }
            .p_03 {
                padding-top: 86px;
            }
            .p_04 {
                padding-top: 34px;
            }
        }
        .l_block_02 {
            height: 338px;
            background: url(../images/message_block_02_bg.jpg) no-repeat center center;
            p {
                font-size: 16px;
                color: $c-white;
                line-height: 1.8;
            }
            .p_03 {
                padding-top: 86px;
            }
            .p_04 {
                padding-top: 34px;
            }
        }
        .l_block_03 {
            background-color: #e5ebef;
            .l_inner {
                margin:  0 auto;
                width: 960px;
                height: 360px;
                background: url(../images/message_block_03_bg.png) no-repeat right center;
                p {
                    font-size: 16px;
                    text-align: left;
                    line-height: 1.7;
                }
                .p_05 {
                    padding-top: 70px;
                }
                .p_06 {
                    padding-top: 36px;
                }
            }
        }
        .l_block_04 {
            background: url(../images/message_block_04_bg.jpg) no-repeat center center;
            .l_inner {
                position: relative;
                margin:  0 auto;
                width: 960px;
                height: 400px;
                text-align: left;
                color: $c-white;
                p {
                    font-size: 16px;
                    text-align: left;
                    line-height: 1.7;
                }
                .p_07 {
                    padding-top: 58px;
                }
                .p_08 {
                    padding-top: 36px;
                }
                .div_02 {
                    display: inline-block;
                    margin-top: 24px;
                    border: 1px solid $c-white;
                    width: 264px;
                    text-align: center;
                    a {
                        padding: .6em 0;
                        font-size: 14px;
                        line-height: 1;
                    }
                }
                .dl {
                    position: absolute;
                    top: 285px;
                    left: 280px;
                    font-size: 12px;
                    line-height: 1;
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 14px;
                        width: 20px;
                    }
                }
            }
        }
    }
    .profile {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: 100px 0 94px;
        width: 960px;
        .l_box_01 {
            width: 264px;
            .dl {
                margin-top: 55px;
                font-size: 12px;
                line-height: 1;
                img {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 14px;
                    width: 20px;
                }
            }
            .div_01 {
                display: inline-block;
                margin-top: 12px;
                border: 1px solid $c-black;
                text-align: center;
                width: 100%;
                a {
                    padding: .6em 0;
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
        .l_box_02 {
            width: 628px;
            .h3_01 {
                position: relative;
                font-size: 34px;
                font-family: $f-ryumin;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    right: -1374px;
                    width: 2000px;
                    height: 1px;
                    background-color: $c-blue;
                }
                i {
                    margin-left: 22px;
                    vertical-align: baseline;
                    font-size: 20px;
                    font-family: $f-arno;
                }
                em {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 38px;
                    color: $c-blue;
                    font-family: $f-arno;
                }
            }
            .ul_01 {
                margin-top: 40px;
                li {
                    font-size: 14px;
                    line-height: 1.8;
                    &:before {
                        content: '・';
                    }
                }
            }
            .p_01 {
                margin-top: 72px;
                font-size: 12px;
                line-height: 1.8;
                text-align: justify;
            }
        }
    }
    .information {
        padding: 80px 0;
        text-align: center;
        background-color: #f5f5f5;
        .l_inner {
            margin: 0 auto;
            width: 960px;
            .h3_01 {
                display: inline-block;
                padding-bottom: .2em;
                border-bottom: 1px solid $c-blue;
                font-family: $f-arno;
                font-size: 38px;
                color: $c-blue;
                letter-spacing: .025em;
            }
            .dl_01 {
                margin-top: 40px;
                position: relative;
                text-align: left;
                font-size: 0;
                dt {
                    display: inline-block;
                    vertical-align: top;
                    width: 85px;
                    color: $c-blue;
                    font-size: 14px;
                    line-height: 1.7;
                }
                dd {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 85px);
                    font-size: 14px;
                    line-height: 1.7;
                    em {
                        color: $c-blue;
                        margin-right: .5em;
                    }
                    #map {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                > *:nth-child(n+3) {
                    margin-top: 40px;
                }
            }
        }
    }
    .schedule {
        text-align: center;
        margin: 0 auto;
        padding: 92px 0 84px;
        width: 960px;
        .h3_01 {
            display: inline-block;
            padding-bottom: .2em;
            border-bottom: 1px solid $c-blue;
            font-family: $f-arno;
            font-size: 38px;
            color: $c-blue;
            letter-spacing: .025em;
        }
        #scheduleSlider {
            position: relative;
            margin-top: 52px;
            overflow: hidden;
            .bx-controls-direction {
                a {
                    position: absolute;
                    top: 100px;
                    width: 26px;
                    height: 26px;
                    border-top: 1px solid #737b7b;
                    border-right: 1px solid #737b7b;
                    &.bx-prev {
                        left: 10px;
                        transform: rotate(-135deg);
                    }
                    &.bx-next {
                        right: 10px;
                        transform: rotate(45deg);
                    }
                }
            }
            .bx-wrapper {
                margin: 0 auto;
                width: 304px;
                .bx-viewport {
                    overflow: visible !important;
                    li {
                        padding: 0 26px;
                        img {
                            width: auto;
                        }
                        .box {
                            &:nth-child(2) {
                                margin-top: 20px;
                            }
                            &:nth-child(3) {
                                margin-top: 36px;
                            }
                            h4 {
                                background-color: #d7d9d9;
                                width: 251px;
                                div {
                                    display: inline-block;
                                    padding: .5em 0;
                                    font-size: 14px;
                                    text-align: center;
                                    &:nth-child(1) {
                                        width: 40%;
                                        border-right: 1px solid $c-white;
                                    }
                                    &:nth-child(2) {
                                        width: 60%;
                                    }
                                }
                            }
                            h5 {
                                margin-top: .4em;
                                font-size: 15px;
                                color: $c-blue;
                                text-align: left;
                                line-height: 1.4;
                            }
                            p {
                                margin-top: .4em;
                                font-size: 14px;
                                line-height: 1.4;
                                letter-spacing: -.06em;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .next {
            margin-top: 50px;
            padding: 0 50px;
            .l_inner {
                background-color: #f5f5f5;
                padding: 38px 0 50px;
                width: 860px;
                .ttl {
                    > div {
                        display: inline-block;
                        border: 1px solid $c-blue;
                        > div {
                            display: inline-block;
                            padding: .4em .8em;
                            font-family: $f-ryumin;
                            font-size: 16px;
                            line-height: 1;
                            letter-spacing: .06rem;
                            color: $c-blue;
                            &:nth-child(1) {
                                background-color: $c-blue;
                                color: $c-white;
                            }
                            &:nth-child(3) {
                                border-left: 1px solid $c-blue;
                            }
                        }
                    }
                    p {
                        margin-top: 20px;
                        width: 100%;
                        font-size: 32px;
                        font-family: $f-ryumin;
                        letter-spacing: .2rem;
                        color: $c-blue;
                    }
                }
                .con {
                    background: #fff url(../images/scheduleSlider_next_bg.png) no-repeat center center;
                    margin: 26px auto 0;
                    padding: 0 90px;
                    width: 742px;
                    height: 380px;
                    text-align: left;
                    h4 {
                        padding-top: 50px;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    ul {
                        margin-top: 24px;
                        li {
                            font-size: 14px;
                            line-height: 2;
                        }
                    }
                    p {
                        margin-top: 1.2em;
                        padding-top: 1.2em;
                        border-top: 1px solid #000;
                        font-size: 14px;
                        line-height: 1.7;
                    }
                }
                .deadline {
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 1;
                    font-weight: bold;
                    strong {
                        margin-left: 1em;
                        padding-bottom: .2em;
                        font-size: 18px;
                        font-weight: bold;
                        border-bottom: 1px solid $c-blue;
                        color: $c-blue;
                    }
                }
            }
        }
    }
    .form {
        background-color: #eff0f0;
        width: 100%;
        display: block;
        .iframe {
            margin: 0 auto;
            padding: 60px 0;
            width: 960px;
        }
    }
    .contact {
        position: relative;
        margin: 0 auto;
        padding: 64px 0 60px;
        width: 960px;
        .h3_01 {
            position: relative;
            font-family: $f-arno;
            font-size: 38px;
            color: $c-blue;
            &:after {
                display: block;
                content: '';
                position: absolute;
                bottom: -8px;
                left: -1570px;
                width: 2000px;
                height: 1px;
                background-color: $c-blue;
            }
            i {
                margin-left: 20px;
                font-size: 14px;
                font-family: $f-sans;
                color: #000;
                letter-spacing: -.04em;
            }
        }
        .ul_01 {
            margin-top: 52px;
            li {
                font-size: 14px;
                line-height: 1.8;
                a {
                    margin-left: 16px;
                    display: inline-block;
                    img {
                        width: auto;
                    }
                }
            }
        }
        .div_01 {
            margin-top: 24px;
            font-size: 15px;
            width: 330px;
            line-height: 1;
            a {
                padding: .6em 0;
                border: 1px solid #848b8b;
                text-align: center;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    margin-right: 10px;
                }
            }
        }
        .facebook {
            position: absolute;
            top: 60px;
            right: 0;
            width: 290px;
        }
    }
}

#footer {
    padding: 16px 0 12px;
    text-align: center;
    min-width: 960px;
    background-color: #eff0f0;
    line-height: 1;
    p {
        small {
            font-size: 12px;
        }
    }
}