#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    .l_inner {
        display: flex;
        flex-flow: row wrap;
        line-height: 1;
        @include mq(st) {
            justify-content: flex-start;
            align-items: stretch;
        }
        @include mq(pc) {
            justify-content: flex-end;
            align-items: center;
            margin: 0 auto;
            width: 960px;
        }
        h1 {
            @include mq(st) {
                padding: 6%;
                width: 45%;
            }
            @include mq(pc) {
                margin-right: auto;
                width: 131px;
            }
        }
        ul {
            @include mq(st) {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #aaa;
                width: 100%;
            }
            @include mq(pc) {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                width: 464px;
                margin-right: 28px;
            }
            li {
                @include mq(st) {
                    margin: 0 4.7%;
                    &:nth-child(n+2) {
                        border-top: 1px solid $c-white;
                    }
                }
                a {
                    font-family: $f-ryumin;
                    @include mq(st) {
                        text-align: center;
                        @include fz(24);
                        padding: 2.4em 0;
                        color: $c-white;
                        background: url(../images/arrow.png) no-repeat right center / 4vw auto;
                    }
                    @include mq(pc) {
                        font-size: 13px;
                        padding: 1em 0;
                        transition: .24s all ease;
                        &:hover {
                            font-weight: bold;
                            color: $c-blue;
                        }
                    }
                }
            }
        }
        .facebook {
          @include mq(st) {
            display: none;
          }
          @include mq(pc) {
            margin-right: 28px;
          }
        }
        .form {
            @include mq(st) {
                width: 36%;
            }
            a {
                background-color: $c-blue;
                color: $c-white;
                font-family: $f-ryumin;
                @include mq(st) {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    text-align: center;
                    @include fz(24);
                }
                @include mq(pc) {
                    padding: 20px 28px;
                    font-size: 13px;
                    transition: .24s all ease;
                    &:hover {
                        background-color: #323cfb;
                    }
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                    @include mq(st) {
                        width: 2.6vw;
                        margin-right: 1.6vw;
                    }
                    @include mq(pc) {
                        margin-right: 6px;
                        width: 10px;
                    }
                }
            }
        }
        .menu {
            width: 19%;
            background-color: #000;
            display: flex;
            flex-flow: wrap column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            pointer-events: all;
            > div {
                width: 6.25vw;
                height: 1px;
                background-color: #fff;
                &:nth-child(n+2) {
                    margin-top: 10%;
                }
            }
        }
    }
}

#main {
    @include mq(st) {
        padding-top: 18.8vw;
    }
    @include mq(pc) {
        padding-top: 54px;
    }
    .hero {
        width: 100%;
        @include mq(st) {
            background-color: #f1f1f1;
        }
        @include mq(pc) {
            height: 520px;
        }
        .l_inner {
            position: relative;
            margin: 0 auto;
            @include mq(pc) {
                width: 960px;
            }
            figure {
                @include mq(pc) {
                    position: absolute;
                    top: 0;
                    left: -284px;
                    z-index: 1;
                    width: 1800px;
                }
            }
          .facebook {
            @include mq(pc) {
              display: none;
            }
            @include mq(sp) {
              position: absolute;
              top: 0;
              right: 4.7%;
              width: 6%;
              margin-top: 52%;
              z-index: 9;
              background-color: #fff;
            }
          }
            .text {
                position: relative;
                z-index: 2;
                @include mq(st) {
                    padding: 7.8% 0 13%;
                }
                @include mq(pc) {
                    padding-top: 68px;
                }
                h1 {
                    @include mq(pc) {
                        width: 445px;
                    }
                }
                h2 {
                    position: relative;
                    font-family: $f-ryumin;
                    @include mq(st) {
                        text-align: center;
                        margin-top: 5.4%;
                        @include fz(30);
                        letter-spacing: -.08em;
                    }
                    @include mq(pc) {
                        margin-top: 38px;
                        font-size: 22px;
                    }
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        background-color: $c-blue;
                        @include mq(st) {
                            bottom: 0;
                            left: 0;
                            width: 95%;
                            height: 1px;
                            margin-bottom: -2%;
                        }
                        @include mq(pc) {
                            bottom: -8px;
                            left: -1534px;
                            width: 2000px;
                            height: 1px;
                        }
                    }
                }
                p {
                    font-family: $f-ryumin;
                    line-height: 1.8;
                    @include mq(st) {
                        padding: 0 4.7%;
                        margin-top: 5%;
                        @include fz(20);
                        letter-spacing: -.06em;
                    }
                    @include mq(pc) {
                        margin-top: 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .message {
        text-align: center;
        @include mq(pc) {
            min-width: 960px;
        }
        .l_block_01 {
            background: url(../images/message_block_01_bg.png) no-repeat center center;
            @include mq(st) {
                background-size: cover;
                padding: 10.6% 4.7%;
            }
            @include mq(pc) {
                padding-top: 56px;
                height: 448px;
            }
            .h3_01 {
                display: inline-block;
                padding-bottom: .2em;
                border-bottom: 1px solid $c-blue;
                font-family: $f-arno;
                color: $c-blue;
                letter-spacing: .025em;
                @include mq(st) {
                    @include fz(50);
                }
                @include mq(pc) {
                    font-size: 38px;
                }
            }
            .p_01,
            .p_02 {
                line-height: 1.8;
                @include mq(st) {
                    text-align: left;
                    @include fz(22);
                    br {
                        display: none;
                    }
                }
                @include mq(pc) {
                    font-size: 16px;
                }
            }
            .p_01 {
                @include mq(st) {
                    margin-top: 6.25%;
                }
                @include mq(pc) {
                    margin-top: 24px;
                }
            }
            .p_02 {
                @include mq(st) {
                    margin-top: 8.75%;
                }
                @include mq(pc) {
                    margin-top: 34px;
                }
            }
            .div_01 {
                display: inline-block;
                border: 1px solid $c-blue;
                line-height: 1;
                color: $c-blue;
                @include mq(st) {
                    padding: 1em 0;
                    margin-top: 5.9%;
                    width: 100%;
                    @include fz(24);
                }
                @include mq(pc) {
                    padding: .6em 0;
                    margin-top: 22px;
                    width: 250px;
                    font-size: 14px;
                    transition: .24s all ease;
                    &:hover {
                        background-color: $c-blue;
                        color: $c-white;
                    }
                }
            }
        }
        .l_block_02 {
            background: url(../images/message_block_02_bg.jpg) no-repeat center center / cover;
            @include mq(st) {
                padding: 0 4.7% 10.9%;
            }
            @include mq(pc) {
                height: 338px;
            }
            p {
                color: $c-white;
                line-height: 1.8;
                 @include mq(st) {
                    text-align: justify;
                    @include fz(22);
                    br {
                        font-weight: normal;
                    }
                }
                @include mq(pc) {
                    font-size: 16px;
                }
            }
            .p_03 {
                @include mq(st) {
                    padding-top: 12%;
                }
                @include mq(pc) {
                    padding-top: 86px;
                }
            }
            .p_04 {
                @include mq(st) {
                    padding-top: 5.4%;
                }
                @include mq(pc) {
                    padding-top: 36px;
                }
            }
        }
        .l_block_03 {
            background-color: #e5ebef;
            @include mq(sp) {
                padding-top: 11%;
            }
            .l_inner {
                margin: 0 auto;
                @include mq(st) {
                    padding: 0 4.7% 10%;
                }
                @include mq(pc) {
                    width: 960px;
                    height: 360px;
                    background: url(../images/message_block_03_bg.png) no-repeat right center;
                }
                p {
                    text-align: left;
                    line-height: 1.7;
                    @include mq(st) {
                        text-align: justify;
                        @include fz(22);
                        br {
                            display: none;
                        }
                    }
                    @include mq(pc) {
                        font-size: 16px;
                    }
                }
                .p_05 {
                    @include mq(st) {
                        padding-top: 5.4%;
                    }
                    @include mq(pc) {
                        padding-top: 70px;
                    }
                }
                .p_06 {
                    @include mq(st) {
                        padding-top: 8%;
                    }
                    @include mq(pc) {
                        padding-top: 36px;
                    }
                }
            }
        }
        .l_block_04 {
            background: #000 url(../images/message_block_04_bg.jpg) no-repeat center center;
            @include mq(st) {
                background-size: 184%;
                background-position: right top;
            }
            .l_inner {
                position: relative;
                margin: 0 auto;
                text-align: left;
                color: $c-white;
                @include mq(st) {
                    padding: 50% 4.7% 12%;
                }
                @include mq(pc) {
                    width: 960px;
                    height: 400px;
                }
                p {
                    text-align: left;
                    line-height: 1.7;
                    @include mq(st) {
                        @include fz(22);
                        text-align: justify;
                        br {
                            display: none;
                        }
                    }
                    @include mq(pc) {
                        font-size: 16px;
                    }
                }
                .p_07 {
                    @include mq(pc) {
                        padding-top: 58px;
                    }
                }
                .p_08 {
                    @include mq(st) {
                        padding-top: 7.8%;
                    }
                    @include mq(pc) {
                        padding-top: 36px;
                    }
                }
                .div_02 {
                    display: inline-block;
                    border: 1px solid $c-white;
                    text-align: center;
                    @include mq(st) {
                        margin-top: 9%;
                        width: 100%;
                    }
                    @include mq(pc) {
                        margin-top: 24px;
                        width: 264px;
                    }
                    a {
                        padding: .6em 0;
                        line-height: 1;
                        @include mq(st) {
                            @include fz(24);
                        }
                        @include mq(pc) {
                            font-size: 14px;
                        }
                        transition: .24s all ease;
                        &:hover {
                            background-color: $c-white;
                            color: $c-black;
                        }
                    }
                }
                .dl {
                    line-height: 1;
                    @include mq(st) {
                        margin-top: 1em;
                        @include fz(18);
                    }
                    @include mq(pc) {
                        position: absolute;
                        top: 285px;
                        left: 280px;
                        font-size: 12px;
                    }
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        @include mq(st) {
                            margin: 0 1em 0 0;
                            width: 1.2em;
                        }
                        @include mq(pc) {
                            margin-right: 14px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
    .profile {
        margin: 0 auto;
        @include mq(st) {
            padding: 6.25% 4.7% 10%;
        }
        @include mq(pc) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding: 100px 0 94px;
            width: 960px;
        }
        .l_box_01 {
            @include mq(pc) {
                width: 264px;
            }
            figure {
                @include mq(st) {
                    margin: 0 auto;
                    width: 42vw;
                }
            }
            .dl {
                margin-top: 55px;
                font-size: 12px;
                line-height: 1;
                @include mq(st) {
                    display: none;
                }
                img {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 14px;
                    width: 20px;
                }
            }
            .div_01 {
                display: inline-block;
                margin-top: 12px;
                border: 1px solid $c-black;
                text-align: center;
                width: 100%;
                @include mq(st) {
                    display: none;
                }
                a {
                    padding: .6em 0;
                    font-size: 14px;
                    line-height: 1;
                    transition: .24s all ease;
                    &:hover {
                        background-color: $c-black;
                        color: $c-white;
                    }
                }
            }
        }
        .l_box_02 {
            @include mq(st) {
                margin-top: 6.25%;
            }
            @include mq(pc) {
                width: 628px;
            }
            .h3_01 {
                position: relative;
                font-family: $f-ryumin;
                @include mq(st) {
                    @include fz(40);
                }
                @include mq(pc) {
                    font-size: 34px;
                }
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    background-color: $c-blue;
                    @include mq(st) {
                        bottom: 0;
                        right: -4.7vw;
                        margin-bottom: -2.4%;
                        width: 95vw;
                        height: 1px;
                    }
                    @include mq(pc) {
                        bottom: -8px;
                        right: -1374px;
                        width: 2000px;
                        height: 1px;
                    }
                }
                i {
                    vertical-align: baseline;
                    font-family: $f-arno;
                    @include mq(st) {
                        margin-left: .6em;
                        @include fz(26);
                    }
                    @include mq(pc) {
                        margin-left: 22px;
                        font-size: 20px;
                    }
                }
                em {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: $c-blue;
                    font-family: $f-arno;
                    @include mq(st) {
                        @include fz(50);
                    }
                    @include mq(pc) {
                       font-size: 38px;
                    }
                }
            }
            .ul_01 {
                @include mq(st) {
                    margin-top: 6.5%;
                }
                @include mq(pc) {
                   margin-top: 40px;
                }
                li {
                    font-size: 14px;
                    line-height: 1.8;
                     @include mq(st) {
                        @include fz(20);
                         text-indent: -1em;
                         margin-left: 1em;
                    }
                    @include mq(pc) {
                        font-size: 14px;
                    }
                    &:before {
                        content: '・';
                    }
                }
            }
            .p_01 {
                font-size: 12px;
                line-height: 2;
                margin-top: 46px;
                text-align: justify;
                @include mq(st) {
                    display: none;
                }
            }
            .div_01 {
                margin-top: 6%;
                @include mq(pc) {
                    display: none;
                }
                a {
                    border: 1px solid #000;
                    @include fz(22);
                    line-height: 1;
                    text-align: center;
                    padding: 1em 0;
                }
            }
            .dl {
                margin-top: 4%;
                 @include mq(pc) {
                    display: none;
                }
                @include fz(18);
                line-height: 1;
                img {
                    margin-right: .6em;
                    width: 1em;
                }
            }
        }
    }
    .information {
        text-align: center;
        background-color: #f5f5f5;
        @include mq(st) {
            padding: 10% 0;
        }
        @include mq(pc) {
            padding: 80px 0;
        }
        .l_inner {
            @include mq(pc) {
                margin: 0 auto;
                width: 960px;
            }
            .h3_01 {
                display: inline-block;
                padding-bottom: .2em;
                border-bottom: 1px solid $c-blue;
                font-family: $f-arno;
                color: $c-blue;
                letter-spacing: .025em;
                @include mq(st) {
                    @include fz(50);
                }
                @include mq(pc) {
                    font-size: 38px;
                }
            }
            .dl_01 {
                position: relative;
                text-align: left;
                font-size: 0;
                @include mq(st) {
                    margin-top: 9.4%;
                    padding: 0 4.7%;
                }
                @include mq(pc) {
                    margin-top: 40px;
                }
                dt {
                    display: inline-block;
                    vertical-align: top;
                    color: $c-blue;
                    line-height: 1.7;
                    @include mq(st) {
                        width: 5em;
                        @include fz(22);
                    }
                    @include mq(pc) {
                        width: 85px;
                        font-size: 14px;
                    }
                }
                dd {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 1.7;
                    @include mq(st) {
                        @include fz(22);
                        width: calc(100% - 5em);
                    }
                    @include mq(pc) {
                        width: calc(100% - 85px);
                        font-size: 14px;
                    }
                    em {
                        color: $c-blue;
                        margin-right: .5em;
                    }
                    #map {
                        @include mq(pc) {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                        @include mq(st) {
                            position: relative;
                            margin: 3.6% 0 3.6% -30%;
                            width: 100vw;
                            padding-bottom: 80%;
                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    &.indent {
                        span {
                            display: block;
                            @include mq(st) {
                                text-indent: -1em;
                                margin-left: 1em;
                            }
                        }
                    }
                    &.pc {
                        @include mq(st) {
                            display: none !important;
                        }
                    }
                    &.st {
                        @include mq(pc) {
                            display: none !important;
                        }
                        span {
                            display: block;
                        }
                    }
                }
                > *:nth-child(n+3) {
                    @include mq(st) {
                        margin-top: 2em;
                    }
                    @include mq(pc) {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
    .schedule {
        text-align: center;
        margin: 0 auto;
        @include mq(st) {
            padding: 12% 0 2.4%;
        }
        @include mq(pc) {
            padding: 92px 0 84px;
            width: 960px;
        }
        .h3_01 {
            display: inline-block;
            padding-bottom: .2em;
            border-bottom: 1px solid $c-blue;
            font-family: $f-arno;
            color: $c-blue;
            letter-spacing: .025em;
            @include mq(st) {
                @include fz(50);
            }
            @include mq(pc) {
                font-size: 38px;
            }
        }
        #scheduleSlider {
            position: relative;
            overflow: hidden;
            @include mq(st) {
                margin-top: 5.3%;
                padding-bottom: 10%;
            }
            @include mq(pc) {
                margin-top: 52px;
            }
            .bx-controls-direction {
                a {
                    position: absolute;
                    top: 100px;
                    width: 26px;
                    height: 26px;
                    border-top: 1px solid #737b7b;
                    border-right: 1px solid #737b7b;
                    &.bx-prev {
                        left: 10px;
                        transform: rotate(-135deg);
                    }
                    &.bx-next {
                        right: 10px;
                        transform: rotate(45deg);
                    }
                }
            }
            .bx-wrapper {
                margin: 0 auto;
                width: 304px;
                .bx-viewport {
                    overflow: visible !important;
                    li {
                        padding: 0 26px;
                        img {
                            width: auto;
                            @include mq(st) {
                                width: 80%;
                            }
                        }
                        .box {
                            &:nth-child(2) {
                                @include mq(st) {
                                    margin-top: 6%;
                                }
                                @include mq(pc) {
                                    margin-top: 20px;
                                }
                            }
                            &:nth-child(3) {
                                @include mq(st) {
                                    margin-top: 6%;
                                }
                                @include mq(pc) {
                                    margin-top: 36px;
                                }
                            }
                            h4 {
                                background-color: #d7d9d9;
                                width: 251px;
                                &.active {
                                    background-color: $c-blue;
                                    color: $c-white;
                                }
                                div {
                                    display: inline-block;
                                    padding: .5em 0;
                                    
                                    text-align: center;
                                    &:nth-child(1) {
                                        width: 40%;
                                        border-right: 1px solid $c-white;
                                    }
                                    &:nth-child(2) {
                                        width: 60%;
                                    }
                                    @include mq(st) {
                                        @include fz(22);
                                    }
                                    @include mq(pc) {
                                        font-size: 14px;
                                    }
                                }
                            }
                            h5 {
                                margin-top: .4em;
                                font-size: 15px;
                                color: $c-blue;
                                text-align: left;
                                line-height: 1.4;
                                @include mq(st) {
                                    @include fz(24);
                                }
                                @include mq(pc) {
                                    font-size: 15px;
                                }
                            }
                            p {
                                margin-top: .4em;
                                line-height: 1.4;
                                letter-spacing: -.06em;
                                text-align: left;
                                @include mq(st) {
                                    @include fz(22);
                                }
                                @include mq(pc) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .next {
            @include mq(pc) {
                margin-top: 50px;
                padding: 0 50px;
            }
            .l_inner {
                background-color: #f5f5f5;
                @include mq(st) {
                    padding: 11.8% 0;
                }
                @include mq(pc) {
                    padding: 38px 0 50px;
                    width: 860px;
                }
                .ttl {
                    > div {
                        display: inline-block;
                        border: 1px solid $c-blue;
                        > div {
                            display: inline-block;
                            padding: .4em .8em;
                            font-family: $f-ryumin;
                            line-height: 1;
                            letter-spacing: .06rem;
                            color: $c-blue;
                            @include mq(st) {
                                 @include fz(26);
                            }
                            @include mq(pc) {
                                font-size: 16px;
                            }
                            &:nth-child(1) {
                                background-color: $c-blue;
                                color: $c-white;
                            }
                            &:nth-child(3) {
                                border-left: 1px solid $c-blue;
                            }
                        }
                    }
                    p {
                        width: 100%;
                        font-family: $f-ryumin;
                        color: $c-blue;
                        @include mq(st) {
                            margin-top: 4.8%;
                             @include fz(38);
                            letter-spacing: .06rem;
                        }
                        @include mq(pc) {
                            letter-spacing: .2rem;
                            margin-top: 20px;
                            font-size: 32px;
                        }
                    }
                }
                .con {
                    background: #fff url(../images/scheduleSlider_next_bg.png) no-repeat center center;
                    text-align: left;
                    @include mq(st) {
                        border-top: 10px solid $c-white;
                        border-bottom: 10px solid $c-white;
                        margin: 6% auto;
                        padding: 0 4.7%;
                        background: #fff url(../images/scheduleSlider_next_bg.png) repeat-y center center;
                    }
                    @include mq(pc) {
                        margin: 26px auto 0;
                        padding: 0 90px;
                        width: 742px;
                        height: 380px;
                    }
                    h4 {
                        font-weight: bold;
                        @include mq(st) {
                            padding-top: 12%;
                             @include fz(24);
                        }
                        @include mq(pc) {
                            padding-top: 50px;
                            font-size: 16px;
                        }
                    }
                    ul {
                        margin-top: 24px;
                        li {
                            font-size: 14px;
                            line-height: 2;
                            @include mq(st) {
                                text-indent: -1em;
                                margin-left: 1em;
                                @include fz(22);
                            }
                            @include mq(pc) {
                                font-size: 14px;
                            }
                        }
                    }
                    p {
                        margin-top: 1.2em;
                        padding-top: 1.2em;
                        border-top: 1px solid #000;
                        line-height: 1.7;
                        @include mq(st) {
                            padding-bottom: 1.2em;
                            @include fz(22);
                        }
                        @include mq(pc) {
                            font-size: 14px;
                        }
                    }
                }
                .deadline {
                    line-height: 1;
                    font-weight: bold;
                    @include mq(st) {
                        margin-top: 8%;
                        @include fz(22);
                    }
                    @include mq(pc) {
                        margin-top: 30px;
                        font-size: 16px;
                    }
                    strong {
                        margin-left: 1em;
                        padding-bottom: .2em;
                        font-size: 18px;
                        font-weight: bold;
                        border-bottom: 1px solid $c-blue;
                        color: $c-blue;
                        @include mq(st) {
                            @include fz(28);
                        }
                        @include mq(pc) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .form {
        background-color: #eff0f0;
        width: 100%;
        display: block;
        .iframe {
            @include mq(pc) {
                margin: 0 auto;
                padding: 60px 0;
                width: 960px;
            }
            iframe {
                height: 80vh;
            }
        }
    }
    .contact {
        position: relative;
        margin: 0 auto;
        @include mq(pc) {
            padding: 64px 0 60px;
            width: 960px;
        }
        @include mq(st) {
            padding: 0 4.7%;
            text-align: center;
        }
        .h3_01 {
            position: relative;
            font-family: $f-arno;
            color: $c-blue;
            @include mq(st) {
                margin-top: 14%;
                display: inline-block;
                 @include fz(50);
                padding-bottom: 1%;
                border-bottom: 1px solid $c-blue;
            }
            @include mq(pc) {
                font-size: 38px;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: -1570px;
                    width: 2000px;
                    height: 1px;
                    background-color: $c-blue;
                }
            }
            i {
                margin-left: 20px;
                font-size: 14px;
                font-family: $f-sans;
                color: #000;
                letter-spacing: -.04em;
                @include mq(sp) {
                    display: none;
                }
            }
        }
        .p_01 {
            @include mq(pc) {
                display: none;
            }
            @include mq(st) {
                margin-top: 6%;
                @include fz(22);
            }
        }
        .ul_01 {
            @include mq(st) {
                margin-top: 11%;
                text-align: left;
            }
            @include mq(pc) {
                margin-top: 52px;
            }
            li {
                line-height: 1.8;
                @include mq(st) {
                    @include fz(22);
                }
                @include mq(pc) {
                    font-size: 14px;
                }
                a {
                    margin-left: 1em;
                    display: inline-block;
                    img {
                        width: auto;
                    }
                }
            }
        }
        .div_01 {
            @include mq(st) {
                margin-top: 5%;
                @include fz(24);
            }
            @include mq(pc) {
                margin-top: 24px;
                font-size: 15px;
                width: 330px;
            }
            line-height: 1;
            a {
                padding: .6em 0;
                border: 1px solid #848b8b;
                text-align: center;
                font-family: $f-ryumin;
                transition: .24s all ease;
                &:hover {
                    background-color: $c-lightgrey;
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    margin-right: 10px;
                }
            }
        }
        .facebook {
            @include mq(st) {
                margin: 10% 0;
            }
            @include mq(pc) {
                position: absolute;
                top: 60px;
                right: 0;
                width: 290px;
            }
        }
    }
}

#pagetop {
  position: fixed;
  right: 6%;
  bottom: 12%;
  z-index: 11;
  background-color: rgba(255,255,255,.6);
  transition: .24s all ease;
  &:hover {
    opacity: .6;
  }
  @include mq(st) {
    position: fixed;
    right: 6%;
    bottom: 6;
    z-index: 11;
    background-color: rgba(255,255,255,.6);
    transition: .24s all ease;
    width: 10.9%;
  }
}

#footer {
    text-align: center;
    background-color: #eff0f0;
    line-height: 1;
    @include mq(st) {
        padding: 4.8% 0 3.6%;
    }
    @include mq(pc) {
        padding: 16px 0 12px;
        min-width: 960px;
    }
    p {
        small {
            @include mq(st) {
                @include fz(18);
            }
            @include mq(pc) {
                font-size: 12px;
            }
        }
    }
}